.text2{
  display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 225px; */
    margin-bottom: 45px;
    margin-left: 40px;
    margin-right: 40px;
    color:#D3D4D7;
    font-size:50px;
  }.xyz{
    background-color: #FE4D69;
    border-radius: 25px;
    font-size: 20px;
    padding: 15px 100px; 
  
  }
  
  .xyz:hover {
    background-color: #FF7F8A;
  }
  .box{
    width: 100vw;
    height: 100vh;
  }
  .box{
    display: flex;
  }
  .bottom-left-img {
    position: absolute;
    left: 0;
    bottom: 0;
}
.logoo{
  position: absolute;
  /* margin-bottom: 0px; */
  bottom: 50vh;
}